In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Distanciamento/dist_cepii.xls")

In [3]:
df

,iso_o,iso_d,contig,comlang_off,comlang_ethno,colony,comcol,curcol,col45,smctry,dist,distcap,distw,distwces
0,ABW,ABW,0,0,0,0,0,0,0,0,5.225315,5.225315,25.0935,23.0472
1,ABW,AFG,0,0,0,0,0,0,0,0,13257.810000,13257.810000,13168.2,13166.4
2,ABW,AGO,0,0,0,0,0,0,0,0,9516.913000,9516.913000,9587.32,9584.19
3,ABW,AIA,0,0,1,0,0,0,0,0,983.268200,983.268200,976.897,976.892
4,ABW,ALB,0,0,0,0,0,0,0,0,9091.742000,9091.742000,9091.58,9091.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50171,ZWE,YUG,0,0,0,0,0,0,0,0,7056.402000,7056.402000,7046.43,7042.83
50172,ZWE,ZAF,1,1,1,0,0,0,0,0,2186.206000,926.174300,1258.55,1101.44
50173,ZWE,ZAR,0,0,0,0,0,0,0,0,2283.061000,2283.061000,1930.98,1719.15
50174,ZWE,ZMB,1,1,1,0,1,0,0,0,396.804100,396.804100,583.795,525.073
50175,ZWE,ZWE,0,0,0,0,0,0,0,0,235.119300,235.119300,199.821,67.8379

In [4]:
def filtro(df):
    filt = df["iso_o"] == "BRA"
    df = df.loc[filt]
    return df
df = filtro(df)

In [5]:
df.rename(columns={"iso_d":"Country Code"}, inplace=True)
df.drop(columns={"iso_o"}, inplace=True)

In [8]:
df.set_index("Country Code", inplace=True)

In [9]:
df.to_csv("Distanciamento/Distanciamento_Especificado.csv")

In [10]:
df

,contig,comlang_off,comlang_ethno,colony,comcol,curcol,col45,smctry,dist,distcap,distw,distwces
Country Code,,,,,,,,,,,,
ABW,0,0,0,0,0,0,0,0,4759.608,3988.915,4431.57,4272.2
AFG,0,0,0,0,0,0,0,0,13771.760,13470.080,13223.8,13180
AGO,0,1,1,0,0,0,0,0,6559.966,6674.706,6440.57,6391.61
AIA,0,0,0,0,0,0,0,0,4977.742,4132.483,4549.72,4382.35
ALB,0,0,0,0,0,0,0,0,9943.985,9414.849,9388.92,9313.15
...,...,...,...,...,...,...,...,...,...,...,...,...
YUG,0,0,0,0,0,0,0,0,10200.500,9638.061,9600.67,9524.34
ZAF,0,0,0,0,0,0,0,0,6355.119,7900.190,7342.99,7280.53
ZAR,0,0,0,0,0,0,0,0,6967.733,7019.619,7235.6,7150.39
ZMB,0,0,0,0,0,0,0,0,7826.946,8113.184,7833.17,7796.63
ZWE,0,0,0,0,0,0,0,0,8017.050,8348.187,7918.61,7883.49

In [13]:
df.index

Index(['ABW', 'AFG', 'AGO', 'AIA', 'ALB', 'AND', 'ANT', 'ARE', 'ARG', 'ARM',
       ...
       'VNM', 'VUT', 'WLF', 'WSM', 'YEM', 'YUG', 'ZAF', 'ZAR', 'ZMB', 'ZWE'],
      dtype='object', name='Country Code', length=224)