In [1]:
import pandas as pd

In [2]:
Dist = pd.read_csv("Distanciamento/Distanciamento_Especificado.csv")
# Export = pd.read_csv("Exportações/Valor_Exportacao_Especificado.csv")
# Notif = pd.read_csv("Notificações/")
PIB = pd.read_csv("PIB_Nominal/PIB_especificado.csv")
Tarif = pd.read_csv("Tarifas/Tarifas_Especificadas.csv")

In [3]:
PIB.drop(PIB.columns[0], axis=1, inplace=True)
PIB

       Country Name Country Code  Year  PIB_(1000_US$)
0       Afghanistan          AFG  1960    5.377778e+05
1         Australia          AUS  1960    1.857767e+07
2           Austria          AUT  1960    6.592694e+06
3           Burundi          BDI  1960    1.960000e+05
4           Belgium          BEL  1960    1.165872e+07
...             ...          ...   ...             ...
11848        Kosovo          XKX  2017    7.227700e+06
11849   Yemen, Rep.          YEM  2017    2.681870e+07
11850  South Africa          ZAF  2017    3.495541e+08
11851        Zambia          ZMB  2017    2.586814e+07
11852      Zimbabwe          ZWE  2017    2.281301e+07

[11853 rows x 4 columns]

In [5]:
df = pd.DataFrame()
for Ano in range(1996, 2018):
    df = df.append(PIB[PIB["Year"] == Ano].merge(Dist))

In [13]:
df.rename(columns={"Country Name":"Country"}, inplace=True)

In [14]:
df[df["Country Code"] == "ARG"]

,Country,Country Code,Year,PIB_(1000_US$),contig,comlang_off,comlang_ethno,colony,comcol,curcol,col45,smctry,dist,distcap,distw,distwces
5,Argentina,ARG,1996,2.721498e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281
5,Argentina,ARG,1997,2.928590e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281
5,Argentina,ARG,1998,2.989482e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281
5,Argentina,ARG,1999,2.835230e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281
5,Argentina,ARG,2000,2.842038e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281
5,Argentina,ARG,2001,2.686968e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281
6,Argentina,ARG,2002,9.772400e+07,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281
6,Argentina,ARG,2003,1.275870e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281
6,Argentina,ARG,2004,1.646579e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281
6,Argentina,ARG,2005,1.987371e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281
6,Argentina,ARG,2006,2.325573e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281
6,Argentina,ARG,2007,2.875305e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281
6,Argentina,ARG,2008,3.615580e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281
6,Argentina,ARG,2009,3.329765e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281
6,Argentina,ARG,2010,4.236274e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281
6,Argentina,ARG,2011,5.301633e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281
6,Argentina,ARG,2012,5.459824e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281
6,Argentina,ARG,2013,5.520251e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281
6,Argentina,ARG,2014,5.263197e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281
6,Argentina,ARG,2015,5.947493e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281
6,Argentina,ARG,2016,5.575314e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281
6,Argentina,ARG,2017,6.426959e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281

In [33]:
df = df.merge(Tarif)

In [34]:
df[(df["Country"] == "Argentina") & (df["Commodity Code"] == 1)]

,Country,Country Code,Year,PIB_(1000_US$),contig,comlang_off,comlang_ethno,colony,comcol,curcol,col45,smctry,dist,distcap,distw,distwces,Commodity Code,Simple Average,Weighted Average,Imports Value in 1000 USD
0,Argentina,ARG,1996,2.721498e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,1,0.00,0.00,585.559
296,Argentina,ARG,1997,2.928590e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,1,0.00,0.00,2022.829
632,Argentina,ARG,1998,2.989482e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,1,0.00,0.00,1751.680
986,Argentina,ARG,1999,2.835230e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,1,0.00,0.00,967.018
1367,Argentina,ARG,2000,2.842038e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,1,0.00,0.00,538.317
1812,Argentina,ARG,2001,2.686968e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,1,2.28,2.29,739.792
2377,Argentina,ARG,2002,9.772400e+07,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,1,2.00,1.36,362.355
2932,Argentina,ARG,2003,1.275870e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,1,2.00,1.06,1728.842
3479,Argentina,ARG,2004,1.646579e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,1,0.00,0.00,1280.965
4043,Argentina,ARG,2005,1.987371e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,1,2.00,1.09,1888.745
4617,Argentina,ARG,2006,2.325573e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,1,2.00,1.05,2024.102
5257,Argentina,ARG,2007,2.875305e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,1,2.00,1.24,2897.162
5907,Argentina,ARG,2008,3.615580e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,1,1.60,1.11,3596.379
6591,Argentina,ARG,2009,3.329765e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,1,1.60,1.13,4017.536
7243,Argentina,ARG,2010,4.236274e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,1,1.60,1.02,4671.453
7957,Argentina,ARG,2011,5.301633e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,1,1.60,1.37,7494.253
8659,Argentina,ARG,2012,5.459824e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,1,0.00,0.00,9670.993
9303,Argentina,ARG,2013,5.520251e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,1,1.00,1.08,13355.717
9902,Argentina,ARG,2014,5.263197e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,1,1.00,1.04,11402.158
10518,Argentina,ARG,2015,5.947493e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,1,1.50,1.06,12660.796
11087,Argentina,ARG,2016,5.575314e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,1,1.00,1.04,16567.182
11573,Argentina,ARG,2017,6.426959e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,1,1.50,1.04,17723.325

In [32]:
Tarif[(Tarif["Country"] == "Argentina") & (Tarif["Commodity Code"] == 1)]

,Year,Country,Commodity Code,Simple Average,Weighted Average,Imports Value in 1000 USD
98,1996,Argentina,1,0.00,0.00,585.559
99,1997,Argentina,1,0.00,0.00,2022.829
100,1998,Argentina,1,0.00,0.00,1751.680
101,1999,Argentina,1,0.00,0.00,967.018
102,2000,Argentina,1,0.00,0.00,538.317
103,2001,Argentina,1,2.28,2.29,739.792
3146,2002,Argentina,1,2.00,1.36,362.355
3147,2003,Argentina,1,2.00,1.06,1728.842
3148,2004,Argentina,1,0.00,0.00,1280.965
3149,2005,Argentina,1,2.00,1.09,1888.745
3150,2006,Argentina,1,2.00,1.05,2024.102
6455,2007,Argentina,1,2.00,1.24,2897.162
6456,2008,Argentina,1,1.60,1.11,3596.379
6457,2009,Argentina,1,1.60,1.13,4017.536
6458,2010,Argentina,1,1.60,1.02,4671.453
6459,2011,Argentina,1,1.60,1.37,7494.253
6460,2012,Argentina,1,0.00,0.00,9670.993
10346,2013,Argentina,1,1.00,1.08,13355.717
10347,2014,Argentina,1,1.00,1.04,11402.158
10348,2015,Argentina,1,1.50,1.06,12660.796
10349,2016,Argentina,1,1.00,1.04,16567.182
10350,2017,Argentina,1,1.50,1.04,17723.325

In [36]:
df

,Country,Country Code,Year,PIB_(1000_US$),contig,comlang_off,comlang_ethno,colony,comcol,curcol,col45,smctry,dist,distcap,distw,distwces,Commodity Code,Simple Average,Weighted Average,Imports Value in 1000 USD
0,Argentina,ARG,1996,2.721498e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,1,0.00,0.00,585.559
1,Argentina,ARG,1996,2.721498e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,2,0.00,0.00,101161.930
2,Argentina,ARG,1996,2.721498e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,3,0.00,0.00,2992.493
3,Argentina,ARG,1996,2.721498e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,4,0.00,0.00,3584.473
4,Argentina,ARG,1996,2.721498e+08,1,0,0,0,0,0,0,0,1691.067,2353.257,2391.846,2089.281,5,0.00,0.00,68.207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11794,South Africa,ZAF,2017,3.495541e+08,0,0,0,0,0,0,0,0,6355.119,7900.190,7342.994,7280.527,11,8.80,4.19,21.610
11795,South Africa,ZAF,2017,3.495541e+08,0,0,0,0,0,0,0,0,6355.119,7900.190,7342.994,7280.527,12,3.81,6.23,3925.218
11796,South Africa,ZAF,2017,3.495541e+08,0,0,0,0,0,0,0,0,6355.119,7900.190,7342.994,7280.527,13,3.67,7.35,139.367
11797,South Africa,ZAF,2017,3.495541e+08,0,0,0,0,0,0,0,0,6355.119,7900.190,7342.994,7280.527,14,0.00,0.00,3.522
11798,South Africa,ZAF,2017,3.495541e+08,0,0,0,0,0,0,0,0,6355.119,7900.190,7342.994,7280.527,15,4.58,2.03,2640.124

In [35]:
df.to_csv("Dados_modelo.csv")