In [1]:
import pandas as pd
import gme

In [9]:
Dist = pd.read_csv("Distanciamento/Distanciamento_Especificado.csv")
# Export = pd.read_csv("Exportações/Valor_Exportacao_Especificado.csv")
# Notif = pd.read_csv("Notificações/")
PIB = pd.read_csv("PIB_Nominal/PIB_especificado.csv")
Tarif = pd.read_csv("Tarifas/Tarifas_Especificadas.csv")

In [3]:
Dist.set_index("Country Code", inplace=True)
Dist

,contig,comlang_off,comlang_ethno,colony,comcol,curcol,col45,smctry,dist,distcap,distw,distwces
Country Code,,,,,,,,,,,,
ABW,0,0,0,0,0,0,0,0,4759.608,3988.915,4431.571,4272.204
AFG,0,0,0,0,0,0,0,0,13771.760,13470.080,13223.75,13180.02
AGO,0,1,1,0,0,0,0,0,6559.966,6674.706,6440.572,6391.615
AIA,0,0,0,0,0,0,0,0,4977.742,4132.483,4549.716,4382.355
ALB,0,0,0,0,0,0,0,0,9943.985,9414.849,9388.915,9313.151
...,...,...,...,...,...,...,...,...,...,...,...,...
YUG,0,0,0,0,0,0,0,0,10200.500,9638.061,9600.665,9524.34
ZAF,0,0,0,0,0,0,0,0,6355.119,7900.190,7342.994,7280.527
ZAR,0,0,0,0,0,0,0,0,6967.733,7019.619,7235.597,7150.393
ZMB,0,0,0,0,0,0,0,0,7826.946,8113.184,7833.171,7796.626
ZWE,0,0,0,0,0,0,0,0,8017.050,8348.187,7918.615,7883.487

In [4]:
PIB.drop(PIB.columns[:0], axis=1, inplace=True)
PIB.index = pd.MultiIndex.from_frame(PIB.iloc[:,[1,2]])
PIB = PIB.iloc[:,[0,3]]
PIB

                           Unnamed: 0  Year
Country Name Country Code
Afghanistan  AFG                    1  1960
Australia    AUS                   11  1960
Austria      AUT                   12  1960
Burundi      BDI                   14  1960
Belgium      BEL                   15  1960
...                               ...   ...
Kosovo       XKX                15307  2017
Yemen, Rep.  YEM                15308  2017
South Africa ZAF                15309  2017
Zambia       ZMB                15310  2017
Zimbabwe     ZWE                15311  2017

[11853 rows x 2 columns]

In [67]:
Tarif.index = pd.MultiIndex.from_frame(Tarif.iloc[:,[0,1]])
Tarif = Tarif.iloc[:,2:6]
Tarif

                     Commodity Code  Simple Average  Weighted Average  \
Year Country
1999 Bahrain                      2            5.00              5.00
2000 Bahrain                      2            5.00              5.00
1999 Bahrain                      7            3.33              3.33
2000 Bahrain                      7            7.00              7.00
1999 Bahrain                      8            5.00              5.00
...                             ...             ...               ...
2017 European Union              13            2.31              0.63
     European Union              14            0.00              0.00
     European Union              14            0.00              0.00
     European Union              15            5.81              1.89
     European Union              15            5.81              1.89

                     Imports Value in 1000 USD
Year Country
1999 Bahrain                         14798.621
2000 Bahrain                         14192.011
1999 Bahrain                             0.359
2000 Bahrain                             0.638
1999 Bahrain                            90.291
...                                        ...
2017 European Union                  35658.152
     European Union                   5284.286
     European Union                   5284.286
     European Union                  88819.170
     European Union                  88819.170

[13328 rows x 4 columns]

In [13]:
df = pd.concat([Dist, PIB], axis=1)

In [14]:
df

,Country Code,contig,comlang_off,comlang_ethno,colony,comcol,curcol,col45,smctry,dist,distcap,distw,distwces,Unnamed: 0,Country Name,Country Code,Year,PIB_(1000_US$)
0,ABW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4759.608,3988.915,4431.571,4272.204,1,Afghanistan,AFG,1960,5.377778e+05
1,AFG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13771.760,13470.080,13223.75,13180.02,11,Australia,AUS,1960,1.857767e+07
2,AGO,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,6559.966,6674.706,6440.572,6391.615,12,Austria,AUT,1960,6.592694e+06
3,AIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4977.742,4132.483,4549.716,4382.355,14,Burundi,BDI,1960,1.960000e+05
4,ALB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9943.985,9414.849,9388.915,9313.151,15,Belgium,BEL,1960,1.165872e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15307,Kosovo,XKX,2017,7.227700e+06
11849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15308,"Yemen, Rep.",YEM,2017,2.681870e+07
11850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15309,South Africa,ZAF,2017,3.495541e+08
11851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15310,Zambia,ZMB,2017,2.586814e+07
11852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15311,Zimbabwe,ZWE,2017,2.281301e+07

In [15]:
df = df.dropna()
df

,Country Code,contig,comlang_off,comlang_ethno,colony,comcol,curcol,col45,smctry,dist,distcap,distw,distwces,Unnamed: 0,Country Name,Country Code,Year,PIB_(1000_US$)
0,ABW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4759.608,3988.915,4431.571,4272.204,1,Afghanistan,AFG,1960,5.377778e+05
1,AFG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13771.760,13470.080,13223.75,13180.02,11,Australia,AUS,1960,1.857767e+07
2,AGO,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,6559.966,6674.706,6440.572,6391.615,12,Austria,AUT,1960,6.592694e+06
3,AIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4977.742,4132.483,4549.716,4382.355,14,Burundi,BDI,1960,1.960000e+05
4,ALB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9943.985,9414.849,9388.915,9313.151,15,Belgium,BEL,1960,1.165872e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,YUG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10200.500,9638.061,9600.665,9524.34,440,Nepal,NPL,1961,5.319596e+05
220,ZAF,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6355.119,7900.190,7342.994,7280.527,442,New Zealand,NZL,1961,5.670064e+06
221,ZAR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6967.733,7019.619,7235.597,7150.393,443,OECD members,OED,1961,1.126411e+09
222,ZMB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7826.946,8113.184,7833.171,7796.626,446,Pakistan,PAK,1961,4.054599e+06
223,ZWE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8017.050,8348.187,7918.615,7883.487,447,Panama,PAN,1961,5.990263e+05