In [2]:
import pandas as pd
import gme

In [72]:
Dist = pd.read_csv("Distanciamento/Distanciamento_Especificado.csv")
# Export = pd.read_csv("Exportações/Valor_Exportacao_Especificado.csv")
# Notif = pd.read_csv("Notificações/")
PIB = pd.read_csv("PIB_Nominal/PIB_especificado.csv")
Tarif = pd.read_csv("Tarifas/Tarifas_Especificadas.csv")

In [73]:
Dist.set_index("Country Code", inplace=True)

In [74]:
Dist

,contig,comlang_off,comlang_ethno,colony,comcol,curcol,col45,smctry,dist,distcap,distw,distwces
Country Code,,,,,,,,,,,,
ABW,0,0,0,0,0,0,0,0,4759.608,3988.915,4431.571,4272.204
AFG,0,0,0,0,0,0,0,0,13771.760,13470.080,13223.75,13180.02
AGO,0,1,1,0,0,0,0,0,6559.966,6674.706,6440.572,6391.615
AIA,0,0,0,0,0,0,0,0,4977.742,4132.483,4549.716,4382.355
ALB,0,0,0,0,0,0,0,0,9943.985,9414.849,9388.915,9313.151
...,...,...,...,...,...,...,...,...,...,...,...,...
YUG,0,0,0,0,0,0,0,0,10200.500,9638.061,9600.665,9524.34
ZAF,0,0,0,0,0,0,0,0,6355.119,7900.190,7342.994,7280.527
ZAR,0,0,0,0,0,0,0,0,6967.733,7019.619,7235.597,7150.393
ZMB,0,0,0,0,0,0,0,0,7826.946,8113.184,7833.171,7796.626
ZWE,0,0,0,0,0,0,0,0,8017.050,8348.187,7918.615,7883.487

In [75]:
Export.index = pd.MultiIndex.from_frame(Export.iloc[:,:2])

In [34]:
PIB = PIB["PIB"]

In [41]:
PIB = PIB / 1000

In [42]:
PIB

Year  Country Code
1996  ALB             3.199643e+06
      DZA             4.694150e+07
      AND             1.223945e+06
      AGO             7.526447e+06
      ATG             6.337306e+05
                          ...
2018  SSF             1.709948e+09
      SSA             1.708357e+09
      TSS             1.709948e+09
      UMC             2.444613e+10
      WLD             8.590973e+10
Name: PIB, Length: 5696, dtype: float64

In [43]:
Tarif.index = pd.MultiIndex.from_frame(Tarif.iloc[:,:2])

In [45]:
Tarif = Tarif.iloc[:,[2,4,5]]

In [46]:
Tarif

                     Commodity Code  Weighted Average  \
Year Country
1999 Bahrain                      2              5.00
2000 Bahrain                      2              5.00
1999 Bahrain                      7              3.33
2000 Bahrain                      7              7.00
1999 Bahrain                      8              5.00
...                             ...               ...
2017 European Union              13              0.63
     European Union              14              0.00
     European Union              14              0.00
     European Union              15              1.89
     European Union              15              1.89

                     Imports Value in 1000 USD
Year Country
1999 Bahrain                         14798.621
2000 Bahrain                         14192.011
1999 Bahrain                             0.359
2000 Bahrain                             0.638
1999 Bahrain                            90.291
...                                        ...
2017 European Union                  35658.152
     European Union                   5284.286
     European Union                   5284.286
     European Union                  88819.170
     European Union                  88819.170

[13328 rows x 3 columns]

In [56]:
df = pd.concat([Dist, Tarif, PIB])

In [52]:
df.drop(columns=0, inplace=True)

In [59]:
df

,Country Code,contig,comlang_off,comlang_ethno,colony,comcol,curcol,col45,smctry,dist,distcap,distw,distwces,Year,Country,Commodity Code,Simple Average,Weighted Average,Imports Value in 1000 USD,PIB
0,ABW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4759.608,3988.915,4431.571,4272.204,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13771.760,13470.080,13223.75,13180.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AGO,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,6559.966,6674.706,6440.572,6391.615,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4977.742,4132.483,4549.716,4382.355,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ALB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9943.985,9414.849,9388.915,9313.151,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5691,SSF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,NaN,NaN,NaN,NaN,NaN,1.709948e+12
5692,SSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,NaN,NaN,NaN,NaN,NaN,1.708357e+12
5693,TSS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,NaN,NaN,NaN,NaN,NaN,1.709948e+12
5694,UMC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,NaN,NaN,NaN,NaN,NaN,2.444613e+13
5695,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,NaN,NaN,NaN,NaN,NaN,8.590973e+13

In [62]:
df.index = pd.MultiIndex.from_frame(df.iloc[:,[13,0]])

In [71]:
df

                    Country Code  contig  comlang_off  comlang_ethno  colony  \
Year   Country Code
NaN    ABW                   ABW     0.0          0.0            0.0     0.0
       AFG                   AFG     0.0          0.0            0.0     0.0
       AGO                   AGO     0.0          1.0            1.0     0.0
       AIA                   AIA     0.0          0.0            0.0     0.0
       ALB                   ALB     0.0          0.0            0.0     0.0
...                          ...     ...          ...            ...     ...
2018.0 SSF                   SSF     NaN          NaN            NaN     NaN
       SSA                   SSA     NaN          NaN            NaN     NaN
       TSS                   TSS     NaN          NaN            NaN     NaN
       UMC                   UMC     NaN          NaN            NaN     NaN
       WLD                   WLD     NaN          NaN            NaN     NaN

                     comcol  curcol  col45  smctry       dist    distcap  \
Year   Country Code
NaN    ABW              0.0     0.0    0.0     0.0   4759.608   3988.915
       AFG              0.0     0.0    0.0     0.0  13771.760  13470.080
       AGO              0.0     0.0    0.0     0.0   6559.966   6674.706
       AIA              0.0     0.0    0.0     0.0   4977.742   4132.483
       ALB              0.0     0.0    0.0     0.0   9943.985   9414.849
...                     ...     ...    ...     ...        ...        ...
2018.0 SSF              NaN     NaN    NaN     NaN        NaN        NaN
       SSA              NaN     NaN    NaN     NaN        NaN        NaN
       TSS              NaN     NaN    NaN     NaN        NaN        NaN
       UMC              NaN     NaN    NaN     NaN        NaN        NaN
       WLD              NaN     NaN    NaN     NaN        NaN        NaN

                        distw  distwces    Year Country  Commodity Code  \
Year   Country Code
NaN    ABW           4431.571  4272.204     NaN     NaN             NaN
       AFG           13223.75  13180.02     NaN     NaN             NaN
       AGO           6440.572  6391.615     NaN     NaN             NaN
       AIA           4549.716  4382.355     NaN     NaN             NaN
       ALB           9388.915  9313.151     NaN     NaN             NaN
...                       ...       ...     ...     ...             ...
2018.0 SSF                NaN       NaN  2018.0     NaN             NaN
       SSA                NaN       NaN  2018.0     NaN             NaN
       TSS                NaN       NaN  2018.0     NaN             NaN
       UMC                NaN       NaN  2018.0     NaN             NaN
       WLD                NaN       NaN  2018.0     NaN             NaN

                     Simple Average  Weighted Average  \
Year   Country Code
NaN    ABW                      NaN               NaN
       AFG                      NaN               NaN
       AGO                      NaN               NaN
       AIA                      NaN               NaN
       ALB                      NaN               NaN
...                             ...               ...
2018.0 SSF                      NaN               NaN
       SSA                      NaN               NaN
       TSS                      NaN               NaN
       UMC                      NaN               NaN
       WLD                      NaN               NaN

                     Imports Value in 1000 USD           PIB
Year   Country Code
NaN    ABW                                 NaN           NaN
       AFG                                 NaN           NaN
       AGO                                 NaN           NaN
       AIA                                 NaN           NaN
       ALB                                 NaN           NaN
...                                        ...           ...
2018.0 SSF                                 NaN  1.709948e+12
       SSA                                 NaN  1.708357e+12
       TSS                                 NaN  1.709948e+12
       UMC                                 NaN  2.444613e+13
       WLD                                 NaN  8.590973e+13

[19248 rows x 20 columns]