In [1]:
import pandas as pd

In [15]:
df = pd.read_csv("Tarifas_WITS.csv", engine="python")

In [5]:
df

,Selected Nomen,Native Nomen,Reporter,Reporter Name,Product,Product Name,Partner,Partner Name,Tariff Year,Trade Year,...,Simple Average,Weighted Average,Standard Deviation,Minimum Rate,Maximum Rate,Nbr of Total Lines,Nbr of DomesticPeaks,Nbr of InternationalPeaks,Imports Value in 1000 USD,Binding Coverage
0,HS,H0,48.0,Bahrain,2,MEAT AND EDIBLE MEAT OFFAL,76,Brazil,1999,1999.0,...,5.00,5.00,0.00,5.0,5.0,7,0,0,14798.621,NaN
1,HS,H0,48.0,Bahrain,2,MEAT AND EDIBLE MEAT OFFAL,76,Brazil,2000,2000.0,...,5.00,5.00,0.00,5.0,5.0,7,0,0,14192.011,NaN
2,HS,H0,48.0,Bahrain,7,EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS,76,Brazil,1999,1999.0,...,3.33,3.33,2.36,0.0,5.0,3,0,0,0.359,NaN
3,HS,H0,48.0,Bahrain,7,EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS,76,Brazil,2000,2000.0,...,7.00,7.00,0.00,7.0,7.0,1,0,0,0.638,NaN
4,HS,H0,48.0,Bahrain,8,EDIBLE FRUIT AND NUTS; PEEL OF CITRUS FRUIT OR...,76,Brazil,1999,1999.0,...,5.00,5.00,0.00,5.0,5.0,9,0,0,90.291,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16591,HS,HS,NaN,All countries All --- All,15,ANIMAL OR VEGETABLE FATS AND OILS AND THEIR CL...,76,Brazil,2014,NaN,...,8.26,NaN,16.65,0.0,143.0,886,37,98,NaN,NaN
16592,HS,HS,NaN,All countries All --- All,15,ANIMAL OR VEGETABLE FATS AND OILS AND THEIR CL...,76,Brazil,2015,NaN,...,8.22,NaN,16.41,0.0,143.0,1013,61,122,NaN,NaN
16593,HS,HS,NaN,All countries All --- All,15,ANIMAL OR VEGETABLE FATS AND OILS AND THEIR CL...,76,Brazil,2016,NaN,...,8.03,NaN,16.62,0.0,143.0,1148,56,129,NaN,NaN
16594,HS,HS,NaN,All countries All --- All,15,ANIMAL OR VEGETABLE FATS AND OILS AND THEIR CL...,76,Brazil,2017,NaN,...,6.06,NaN,10.66,0.0,100.0,955,29,47,NaN,NaN
16595,HS,HS,NaN,All countries All --- All,15,ANIMAL OR VEGETABLE FATS AND OILS AND THEIR CL...,76,Brazil,2018,NaN,...,7.33,NaN,13.02,0.0,100.0,779,37,49,NaN,NaN

In [19]:
df["Trade Year"] = df["Trade Year"].apply(lambda x: str(x)[:-2])

In [20]:
df.index = pd.MultiIndex.from_frame(df.iloc[:,[3,9]])

In [21]:
df = df.iloc[:,[4,12,13,-2]]

In [22]:
df = df.dropna()

In [23]:
df

                           Product  Simple Average  Weighted Average  \
Reporter Name  Trade Year
Bahrain        1999              2            5.00              5.00
               2000              2            5.00              5.00
               1999              7            3.33              3.33
               2000              7            7.00              7.00
               1999              8            5.00              5.00
...                            ...             ...               ...
European Union 2017             13            2.31              0.63
               2017             14            0.00              0.00
               2017             14            0.00              0.00
               2017             15            5.81              1.89
               2017             15            5.81              1.89

                           Imports Value in 1000 USD
Reporter Name  Trade Year
Bahrain        1999                        14798.621
               2000                        14192.011
               1999                            0.359
               2000                            0.638
               1999                           90.291
...                                              ...
European Union 2017                        35658.152
               2017                         5284.286
               2017                         5284.286
               2017                        88819.170
               2017                        88819.170

[13328 rows x 4 columns]