In [3]:
import pandas as pd

In [16]:
def CriarDataFrame():
    df1 = pd.read_csv("../Datasets_Completos/usitc_93-04.csv")
    df2 = pd.read_csv("../Datasets_Completos/usitc_05-16.csv")
    df = pd.concat([df1,df2])
    return df
df = CriarDataFrame()

In [17]:
df.query("iso3_o == 'BRA' & year > 1995", inplace=True)

In [18]:
df.columns

Index(['year', 'country_d', 'iso3_d', 'dynamic_code_d', 'landlocked_d',
       'island_d', 'region_d', 'gdp_pwt_const_d', 'pop_d', 'gdp_pwt_cur_d',
       'capital_cur_d', 'capital_const_d', 'gdp_wdi_cur_d', 'gdp_wdi_const_d',
       'gdp_wdi_cap_cur_d', 'gdp_wdi_cap_const_d', 'lat_d', 'lng_d',
       'polity_d', 'polity_abs_d', 'country_o', 'iso3_o', 'dynamic_code_o',
       'landlocked_o', 'island_o', 'region_o', 'gdp_pwt_const_o', 'pop_o',
       'gdp_pwt_cur_o', 'capital_cur_o', 'capital_const_o', 'gdp_wdi_cur_o',
       'gdp_wdi_const_o', 'gdp_wdi_cap_cur_o', 'gdp_wdi_cap_const_o', 'lat_o',
       'lng_o', 'polity_o', 'polity_abs_o', 'contiguity', 'agree_pta_goods',
       'agree_pta_services', 'agree_cu', 'agree_eia', 'agree_fta', 'agree_psa',
       'agree_pta', 'sanction_threat', 'sanction_threat_trade',
       'sanction_imposition', 'sanction_imposition_trade', 'member_eu_o',
       'member_wto_o', 'member_gatt_o', 'member_eu_d', 'member_wto_d',
       'member_gatt_d', 'member_eu_joint', 'member_wto_joint',
       'member_gatt_joint', 'hostility_level_o', 'hostility_level_d',
       'distance', 'common_language', 'colony_of_destination_after45',
       'colony_of_destination_current', 'colony_of_destination_ever',
       'colony_of_origin_after45', 'colony_of_origin_current',
       'colony_of_origin_ever'],
      dtype='object')

In [19]:
df.drop(columns={ 'colony_of_destination_after45',
       'colony_of_destination_current', 'colony_of_destination_ever',
       'colony_of_origin_after45', 'colony_of_origin_current',
       'colony_of_origin_ever', 'hostility_level_o', 'hostility_level_d',
       'lat_o', 'lng_o', 'polity_o', 'polity_abs_o', 'dynamic_code_d', 'landlocked_d',
       'island_d'})

,year,country_d,iso3_d,region_d,gdp_pwt_const_d,pop_d,gdp_pwt_cur_d,capital_cur_d,capital_const_d,gdp_wdi_cur_d,...,member_wto_o,member_gatt_o,member_eu_d,member_wto_d,member_gatt_d,member_eu_joint,member_wto_joint,member_gatt_joint,distance,common_language
186,2002,Australia,AUS,pacific,713336.560,19.514385,727079.880,2309183.500,2453502.000,3.941963e+11,...,1,1,0,1,1,0,1,1,14091.5680,1
530,2002,Cote d'Ivoire,CIV,africa,36405.648,17.185421,37162.504,46593.801,147439.580,1.234692e+10,...,1,1,0,1,1,0,1,1,5291.1885,0
1122,2001,Guam,GUM,pacific,NaN,NaN,NaN,NaN,NaN,NaN,...,1,1,0,0,0,0,0,0,18473.7790,1
1272,2000,Iran,IRN,middle_east,492996.720,65.850062,487257.250,1625857.400,2100077.800,1.095917e+11,...,1,1,0,0,0,0,0,0,11806.2140,0
1400,1996,Kyrgyzstan,KGZ,central_asia,14261.874,4.656894,13411.275,38875.559,21176.654,1.827571e+09,...,1,1,0,0,0,0,0,0,13770.3410,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
744914,2012,Zimbabwe,ZWE,africa,24360.527,14.565482,24165.889,80778.594,80852.813,1.239272e+10,...,1,1,0,1,1,0,1,1,10076.4200,1
745221,2013,Zimbabwe,ZWE,africa,28157.887,14.898092,28006.838,82862.609,82129.641,1.349023e+10,...,1,1,0,1,1,0,1,1,10076.4200,1
745385,2014,Zimbabwe,ZWE,africa,29149.709,15.245855,29001.225,86134.531,83921.766,1.419691e+10,...,1,1,0,1,1,0,1,1,10076.4200,1
745580,2015,Zimbabwe,ZWE,africa,NaN,NaN,NaN,NaN,NaN,1.441919e+10,...,1,1,0,1,1,0,1,1,10076.4200,1
745960,2016,Zimbabwe,ZWE,africa,NaN,NaN,NaN,NaN,NaN,NaN,...,1,1,0,1,1,0,1,1,10076.4200,1