In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("Dados_Cepii_Expecificados.csv")
df.head()

,Unnamed: 0,Year,Country.Code,Commodity.Code,Animal.health,Consumer.information,Cost.saving,Food.safety,Harmonization,Labelling,...,gatt_o,eu_d,Origin,distw,ln_gdp_o,ln_gdp_d,ln_trade,ln_dist,contig,ln_Tariff
0,1,1997,USA,2,0,0,0,1,0,0,...,1.0,0.0,BRA,8088.513876,27.493138,29.783771,12.921397,8.998200,0,0.000000
1,2,2005,USA,1,0,0,0,0,0,0,...,1.0,0.0,BRA,8088.513876,27.505668,30.203152,14.320688,8.998200,0,1.226712
2,3,2005,USA,8609,0,0,0,0,0,0,...,1.0,0.0,BRA,8088.513876,27.505668,30.203152,14.320688,8.998200,0,0.000000
3,4,2007,ALB,2,1,0,0,1,0,0,...,1.0,0.0,BRA,9388.915094,27.943511,23.093604,17.452358,9.147285,0,2.397895
4,5,2007,ALB,4,1,0,0,1,0,0,...,1.0,0.0,BRA,9388.915094,27.943511,23.093604,8.774931,9.147285,0,2.397895

In [4]:
df.drop(df.columns[0], axis=1, inplace=True)
df.head()

,Year,Country.Code,Commodity.Code,Animal.health,Consumer.information,Cost.saving,Food.safety,Harmonization,Labelling,Lower.barriers.to.trade,...,gatt_o,eu_d,Origin,distw,ln_gdp_o,ln_gdp_d,ln_trade,ln_dist,contig,ln_Tariff
0,1997,USA,2,0,0,0,1,0,0,0,...,1.0,0.0,BRA,8088.513876,27.493138,29.783771,12.921397,8.998200,0,0.000000
1,2005,USA,1,0,0,0,0,0,0,0,...,1.0,0.0,BRA,8088.513876,27.505668,30.203152,14.320688,8.998200,0,1.226712
2,2005,USA,8609,0,0,0,0,0,0,0,...,1.0,0.0,BRA,8088.513876,27.505668,30.203152,14.320688,8.998200,0,0.000000
3,2007,ALB,2,1,0,0,1,0,0,0,...,1.0,0.0,BRA,9388.915094,27.943511,23.093604,17.452358,9.147285,0,2.397895
4,2007,ALB,4,1,0,0,1,0,0,0,...,1.0,0.0,BRA,9388.915094,27.943511,23.093604,8.774931,9.147285,0,2.397895

In [5]:
df.isna().sum()

Year                                                            0
Country.Code                                                    0
Commodity.Code                                                  0
Animal.health                                                   0
Consumer.information                                            0
Cost.saving                                                     0
Food.safety                                                     0
Harmonization                                                   0
Labelling                                                       0
Lower.barriers.to.trade                                         0
National.security.requirements                                  0
Not.specified                                                   0
Other                                                           0
Plant.protection                                                0
Prevention.of.deceptive.practices.and.consumer.protection       0
Protect.humans.from.animal.plant.pest.or.disease                0
Protect.territory.from.other.damage.from.pests                  0
Protection.of.animal.or.plant.life.or.health                    0
Protection.of.Human.health.or.Safety                            0
Protection.of.the.environment                                   0
Quality.requirements                                            0
Trade.Value..US..                                               0
gdp_d                                                         566
gdp_o                                                         552
comrelig                                                      552
gatt_d                                                        552
gatt_o                                                        552
eu_d                                                         1096
Origin                                                        552
distw                                                         552
ln_gdp_o                                                      552
ln_gdp_d                                                      566
ln_trade                                                        0
ln_dist                                                       552
contig                                                          0
ln_Tariff                                                       0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8573 entries, 0 to 8572
Data columns (total 36 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Year                                                       8573 non-null   int64
 1   Country.Code                                               8573 non-null   object
 2   Commodity.Code                                             8573 non-null   int64
 3   Animal.health                                              8573 non-null   int64
 4   Consumer.information                                       8573 non-null   int64
 5   Cost.saving                                                8573 non-null   int64
 6   Food.safety                                                8573 non-null   int64
 7   Harmonization                                              8573 non-null   int64
 8   Labelling                                                  8573 non-null   int64
 9   Lower.barriers.to.trade                                    8573 non-null   int64
 10  National.security.requirements                             8573 non-null   int64
 11  Not.specified                                              8573 non-null   int64
 12  Other                                                      8573 non-null   int64
 13  Plant.protection                                           8573 non-null   int64
 14  Prevention.of.deceptive.practices.and.consumer.protection  8573 non-null   int64
 15  Protect.humans.from.animal.plant.pest.or.disease           8573 non-null   int64
 16  Protect.territory.from.other.damage.from.pests             8573 non-null   int64
 17  Protection.of.animal.or.plant.life.or.health               8573 non-null   int64
 18  Protection.of.Human.health.or.Safety                       8573 non-null   int64
 19  Protection.of.the.environment                              8573 non-null   int64
 20  Quality.requirements                                       8573 non-null   int64
 21  Trade.Value..US..                                          8573 non-null   int64
 22  gdp_d                                                      8007 non-null   float64
 23  gdp_o                                                      8021 non-null   float64
 24  comrelig                                                   8021 non-null   float64
 25  gatt_d                                                     8021 non-null   float64
 26  gatt_o                                                     8021 non-null   float64
 27  eu_d                                                       7477 non-null   float64
 28  Origin                                                     8021 non-null   object
 29  distw                                                      8021 non-null   float64
 30  ln_gdp_o                                                   8021 non-null   float64
 31  ln_gdp_d                                                   8007 non-null   float64
 32  ln_trade                                                   8573 non-null   float64
 33  ln_dist                                                    8021 non-null   float64
 34  contig                                                     8573 non-null   int64
 35  ln_Tariff                                                  8573 non-null   float64
dtypes: float64(12), int64(22), object(2)
memory usage: 2.4+ MB