In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("PIB Nominal/PIB_Nominal.csv")

In [14]:
df.iloc[:,3]

0      AFG
1      ALB
2      DZA
3      ASM
4      AND
           ...
264
265
266
267
268
Name: Country Code , Length: 269, dtype: object

In [15]:
df = df.melt(id_vars= df["Country Code "],
       var_name="Year",
       value_name="PIB")

KeyError: "The following 'id_vars' are not present in the DataFrame: ['             ', 'ABW          ', 'AFG          ', 'AGO          ', 'ALB          ', 'AND          ', 'ARB          ', 'ARE          ', 'ARG          ', 'ARM          ', 'ASM          ', 'ATG          ', 'AUS          ', 'AUT          ', 'AZE          ', 'BDI          ', 'BEL          ', 'BEN          ', 'BFA          ', 'BGD          ', 'BGR          ', 'BHR          ', 'BHS          ', 'BIH          ', 'BLR          ', 'BLZ          ', 'BMU          ', 'BOL          ', 'BRA          ', 'BRB          ', 'BRN          ', 'BTN          ', 'BWA          ', 'CAF          ', 'CAN          ', 'CEB          ', 'CHE          ', 'CHI          ', 'CHL          ', 'CHN          ', 'CIV          ', 'CMR          ', 'COD          ', 'COG          ', 'COL          ', 'COM          ', 'CPV          ', 'CRI          ', 'CSS          ', 'CUB          ', 'CUW          ', 'CYM          ', 'CYP          ', 'CZE          ', 'DEU          ', 'DJI          ', 'DMA          ', 'DNK          ', 'DOM          ', 'DZA          ', 'EAP          ', 'EAR          ', 'EAS          ', 'ECA          ', 'ECS          ', 'ECU          ', 'EGY          ', 'EMU          ', 'ERI          ', 'ESP          ', 'EST          ', 'ETH          ', 'EUU          ', 'FCS          ', 'FIN          ', 'FJI          ', 'FRA          ', 'FRO          ', 'FSM          ', 'GAB          ', 'GBR          ', 'GEO          ', 'GHA          ', 'GIB          ', 'GIN          ', 'GMB          ', 'GNB          ', 'GNQ          ', 'GRC          ', 'GRD          ', 'GRL          ', 'GTM          ', 'GUM          ', 'GUY          ', 'HIC          ', 'HKG          ', 'HND          ', 'HPC          ', 'HRV          ', 'HTI          ', 'HUN          ', 'IBD          ', 'IBT          ', 'IDA          ', 'IDB          ', 'IDN          ', 'IDX          ', 'IMN          ', 'IND          ', 'INX          ', 'IRL          ', 'IRN          ', 'IRQ          ', 'ISL          ', 'ISR          ', 'ITA          ', 'JAM          ', 'JOR          ', 'JPN          ', 'KAZ          ', 'KEN          ', 'KGZ          ', 'KHM          ', 'KIR          ', 'KNA          ', 'KOR          ', 'KWT          ', 'LAC          ', 'LAO          ', 'LBN          ', 'LBR          ', 'LBY          ', 'LCA          ', 'LCN          ', 'LDC          ', 'LIC          ', 'LIE          ', 'LKA          ', 'LMC          ', 'LMY          ', 'LSO          ', 'LTE          ', 'LTU          ', 'LUX          ', 'LVA          ', 'MAC          ', 'MAF          ', 'MAR          ', 'MCO          ', 'MDA          ', 'MDG          ', 'MDV          ', 'MEA          ', 'MEX          ', 'MHL          ', 'MIC          ', 'MKD          ', 'MLI          ', 'MLT          ', 'MMR          ', 'MNA          ', 'MNE          ', 'MNG          ', 'MNP          ', 'MOZ          ', 'MRT          ', 'MUS          ', 'MWI          ', 'MYS          ', 'NAC          ', 'NAM          ', 'NCL          ', 'NER          ', 'NGA          ', 'NIC          ', 'NLD          ', 'NOR          ', 'NPL          ', 'NRU          ', 'NZL          ', 'OED          ', 'OMN          ', 'OSS          ', 'PAK          ', 'PAN          ', 'PER          ', 'PHL          ', 'PLW          ', 'PNG          ', 'POL          ', 'PRE          ', 'PRI          ', 'PRK          ', 'PRT          ', 'PRY          ', 'PSE          ', 'PSS          ', 'PST          ', 'PYF          ', 'QAT          ', 'ROU          ', 'RUS          ', 'RWA          ', 'SAS          ', 'SAU          ', 'SDN          ', 'SEN          ', 'SGP          ', 'SLB          ', 'SLE          ', 'SLV          ', 'SMR          ', 'SOM          ', 'SRB          ', 'SSA          ', 'SSD          ', 'SSF          ', 'SST          ', 'STP          ', 'SUR          ', 'SVK          ', 'SVN          ', 'SWE          ', 'SWZ          ', 'SXM          ', 'SYC          ', 'SYR          ', 'TCA          ', 'TCD          ', 'TEA          ', 'TEC          ', 'TGO          ', 'THA          ', 'TJK          ', 'TKM          ', 'TLA          ', 'TLS          ', 'TMN          ', 'TON          ', 'TSA          ', 'TSS          ', 'TTO          ', 'TUN          ', 'TUR          ', 'TUV          ', 'TZA          ', 'UGA          ', 'UKR          ', 'UMC          ', 'URY          ', 'USA          ', 'UZB          ', 'VCT          ', 'VEN          ', 'VGB          ', 'VIR          ', 'VNM          ', 'VUT          ', 'WLD          ', 'WSM          ', 'XKX          ', 'YEM          ', 'ZAF          ', 'ZMB          ', 'ZWE          ']"

In [36]:
df ["Year"] = df["Year"].map(lambda x: str(x)[:-8])

In [37]:
df = df.dropna()

In [38]:
df

     Country Code   Year               PIB
0             AFG  1996                 ..
1             ALB  1996   3199642579.96974
2             DZA  1996   46941496779.8499
3             ASM  1996                 ..
4             AND  1996   1223945356.62682
...           ...    ...               ...
6446          SSF  2019                 ..
6447          SSA  2019                 ..
6448          TSS  2019                 ..
6449          UMC  2019                 ..
6450          WLD  2019                 ..

[6336 rows x 3 columns]

In [45]:
df = df[df["PIB"] != ".."]

In [51]:
df = df.set_index("Year")

In [52]:
df

      Country Code               PIB
Year
1996           ALB  3199642579.96974
1996           DZA  46941496779.8499
1996           AND  1223945356.62682
1996           AGO  7526446605.51712
1996           ATG   633730629.62963
...            ...               ...
2018           SSF  1709948446225.32
2018           SSA  1708356764548.15
2018           TSS  1709948446225.32
2018           UMC  24446132587811.4
2018           WLD  85909727209568.5

[5696 rows x 2 columns]

In [53]:
df.to_csv("PIB Nominal/PIB_especificado.csv")

In [16]:
df = pd.read_csv("PIB Nominal/PIB_especificado.csv")

In [20]:
df.index =  pd.MultiIndex.from_arrays([df["Year"], df["Country Code"]])

In [27]:
df = df["PIB"]

In [33]:
df

Year  Country Code
1996  ALB             3.199643e+09
      DZA             4.694150e+10
      AND             1.223945e+09
      AGO             7.526447e+09
      ATG             6.337306e+08
                          ...
2018  SSF             1.709948e+12
      SSA             1.708357e+12
      TSS             1.709948e+12
      UMC             2.444613e+13
      WLD             8.590973e+13
Name: PIB, Length: 5696, dtype: float64