In [12]:
import pandas as pd

In [21]:
df = pd.read_csv("PIB_Nominal.csv", error_bad_lines=False)

In [22]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09,2.646927e+09,2.700559e+09,NaN,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.780428e+10,2.000162e+10,2.056105e+10,2.048487e+10,1.990711e+10,1.936264e+10,2.019176e+10,1.936297e+10,NaN,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.057510e+11,NaN,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.186135e+10,1.302506e+10,1.510250e+10,NaN,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.013387e+09,3.236544e+09,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.692431e+09,6.499760e+09,7.071982e+09,7.386883e+09,6.440068e+09,6.714727e+09,7.227700e+09,7.938991e+09,NaN,NaN
260,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.272642e+10,3.540134e+10,4.041523e+10,4.322859e+10,4.262833e+10,3.096824e+10,2.681870e+10,2.691440e+10,NaN,NaN
261,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,7.575397e+09,7.972997e+09,8.497997e+09,9.423396e+09,1.037400e+10,1.133440e+10,...,4.164189e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.176205e+11,2.963573e+11,3.495541e+11,3.682889e+11,NaN,NaN
262,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.124335e+10,2.095475e+10,2.586814e+10,2.672007e+10,NaN,NaN
263,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,2.281301e+10,3.100052e+10,NaN,NaN

In [24]:
df.iloc[:,2]

0      GDP (current US$)
1      GDP (current US$)
2      GDP (current US$)
3      GDP (current US$)
4      GDP (current US$)
             ...
259    GDP (current US$)
260    GDP (current US$)
261    GDP (current US$)
262    GDP (current US$)
263    GDP (current US$)
Name: Indicator Name, Length: 264, dtype: object

In [27]:
df = df.melt(id_vars="Country Name",
       var_name="Year",
       value_name="PIB")

In [28]:
df ["Year"] = df["Year"].map(lambda x: str(x)[:-8])

In [29]:
df = df.dropna()

In [30]:
df

       Country Name  Year          PIB
0             Aruba  Coun          ABW
1       Afghanistan  Coun          AFG
2            Angola  Coun          AGO
3           Albania  Coun          ALB
4           Andorra  Coun          AND
...             ...   ...          ...
16363        Kosovo        7.93899e+09
16364   Yemen, Rep.        2.69144e+10
16365  South Africa        3.68289e+11
16366        Zambia        2.67201e+10
16367      Zimbabwe        3.10005e+10

[12884 rows x 3 columns]

In [31]:
df = df[df["PIB"] != ".."]

In [32]:
df = df.set_index("Year")

In [33]:
df

      Country Name          PIB
Year
Coun         Aruba          ABW
Coun   Afghanistan          AFG
Coun        Angola          AGO
Coun       Albania          ALB
Coun       Andorra          AND
...            ...          ...
            Kosovo  7.93899e+09
       Yemen, Rep.  2.69144e+10
      South Africa  3.68289e+11
            Zambia  2.67201e+10
          Zimbabwe  3.10005e+10

[12884 rows x 2 columns]

In [35]:
df.to_csv("PIB_especificado.csv")

In [16]:
df = pd.read_csv("PIB Nominal/PIB_especificado.csv")

In [20]:
df.index =  pd.MultiIndex.from_arrays([df["Year"], df["Country Code"]])

In [27]:
df = df["PIB"]

In [33]:
df

Year  Country Code
1996  ALB             3.199643e+09
      DZA             4.694150e+10
      AND             1.223945e+09
      AGO             7.526447e+09
      ATG             6.337306e+08
                          ...
2018  SSF             1.709948e+12
      SSA             1.708357e+12
      TSS             1.709948e+12
      UMC             2.444613e+13
      WLD             8.590973e+13
Name: PIB, Length: 5696, dtype: float64